/*=============== FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    /*========== Colors ==========*/
    --primary-color: #99823D;
    --secondary-color:#141414;
    --light-gray-color:#EBEBEB;
    --white-color: #ffffff;
    --dark-color: #;
    --dark-color: #303133;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: var(--dark-color);
    color: var(--secondary-color);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.button-raw {
    border: none;
    outline: none;
    background: none;
}

.button {
    padding: 25px 60px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2.975px;
    text-transform: uppercase;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.title {
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;
    text-transform: uppercase;
    color: var(--white-color);
}

.subtitle {
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.paragraph {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: var(--white-color);
}

/*=============== HEADER & NAV ===============*/
header {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    background: transparent;
}

.header__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 60px;
    width: 135px;
    height: 135px;
    z-index: var(--z-tooltip);
}

.header__logo {
    width: 100%;
    height: 100%;
}

.header__nav {
    flex-grow: 2;
}

.header__nav-list {
    display: flex;
    justify-content: flex-end;
    column-gap: 37px;
}

.header__nav-item,
.menu__link {
    font-weight: 400;
    font-size: 11px;
    line-height: 34px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: var(--white-color);
}

.header__nav-link,
.menu__link {
    padding: 17px 0;
    display: block;
    font-family: 'Open sans';
    transition: all 0.2s ease-in-out;
}

.header__nav-link:hover {
    color: var(--primary-color);
}

/* header menu */
.header__menu-btn {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--white-color);
}

.bx-menu {
    font-size: 35px;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #141414bb;
    backdrop-filter: blur(20px);
    transform: translateX(100%);
    transition: all 0.2s ease-in-out;
    z-index: var(--z-fixed);
}

.menu__list {
    display: flex;
    row-gap: 30px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu__link {
    font-size: 25px;
}

.menu__link:hover {
    color: var(--primary-color);
}

.bx-x {
    font-size: 45px;
}

/*=============== HERO ===============*/
.hero {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-color);
    background-image: url('/assets/img/image/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__container {
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}

.hero__desc {
    position: absolute;
    top: 100px;
    left: calc(50%);
    width: 600px;
    height: 500px;
}

.hero__title {
    margin-top: 2px;
    margin-bottom: 32px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 67px;
    line-height: 87px;
    text-transform: capitalize;
    color: var(--white-color);
}

.hero__title span {
    color: #B69849;
}

.socials {
    margin-top: 35px;
    display: flex;
    column-gap: 20px;
}

.socials__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 32px;
    color: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.socials__link:hover {
    color: #B69849;
    border-color: #B69849;
}

/*=============== ABOUT ===============*/
.about {
    margin: 50px 0;
    padding: 50px 0;
}

.about__container {
    display: flex;
    column-gap: 30px;
}

.about__left {
    position: relative;
    height: 600px;
    background-image: url('/assets/img/image/about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about__image {
    display: none;
}

.about__left-btn {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -80px;
    transform: translateX(-50%);
}

.about__left,
.about__right {
    flex-basis: 50%;
}

.about__image {
    width: 100%;
}

.about__title {
    margin-bottom: 30px;
}

.about__paragraph {
    margin-top: 16px;
}

.about__cards {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    column-gap: 20px;
}

.card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    width: 172px;
    height: 154px;
    font-family: 'Open Sans';
    font-size: 16px;
    letter-spacing: 2px;
    border: 2px solid var(--primary-color);
    color: var(--white-color);
}

.card__icon {
    margin-bottom: 20px;
    font-size: 35px;
    color: var(--primary-color);
}

/*=============== PROJECTS ===============*/
.projects {
    margin-bottom: 150px;
    padding-top: 50px;
    position: relative;
}

.projects__container {
    height: 500px;
    position: relative;
    overflow: hidden;
}

.projects__title {
    margin-bottom: 60px;
    text-align: center;
}

.projects__list {
    height: 100%;
    display: flex;
}

.project {
    height: 500px;
    width: 200px;
    border: 5px solid var(--dark-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    transition: all 0.4s ease-in-out;
}

.static-project {
    width: 400px;
}

.project span {
    padding: 20px;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: var(--white-color);
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
    transition: all 0.3s ease-in-out;
}

.project:nth-child(1) {
    background-image: url('/assets/img/projects/project1.jpg');
}
.project:nth-child(2) {
    background-image: url('/assets/img/projects/project2.jpg');
}
.project:nth-child(3) {
    background-image: url('/assets/img/projects/project3.jpg');
}
.project:nth-child(4) {
    background-image: url('/assets/img/projects/project4.jpg');
}
.project:nth-child(5) {
    background-image: url('/assets/img/projects/project5.jpg');
}

.project:hover span {
    opacity: 0;
} 

.projects__btn {
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
}

/*=============== SERVICES ===============*/
.services {
    padding: 100px 0;
}

.services__title {
    text-align: center;
}

.services__list {
    margin-top: 82px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.service {
    padding: 34px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--white-color);
    position: relative;
    color: var(--white-color);
    font-family: 'Open sans';
    background-image: linear-gradient(
        130deg,
        rgba(255, 255, 255, 0) 1%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.132) 100%
    );
}

.service:hover {
    background: rgba(0, 0, 0, 0.149);
}

.service__inner {
    position: relative;
    padding-left: 85px;
}

.service__inner::before {
    content: '';
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.service__number {
    font-weight: 400;
    font-size: 11px;
    line-height: 17px;
    letter-spacing: 2.7625px;
    text-transform: uppercase;
    color: var(--primary-color);
}

.service__name {
    margin-top: 11px;
    margin-bottom: 27px;
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    text-transform: capitalize;
}

.service__desc {
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.service:nth-child(1) .service__inner::before {
    background-image: url('../img/icons/service1.png');
}
.service:nth-child(2) .service__inner::before {
    background-image: url('../img/icons/service2.png');
}
.service:nth-child(3) .service__inner::before {
    background-image: url('../img/icons/service3.png');
}
.service:nth-child(4) .service__inner::before {
    background-image: url('../img/icons/service4.png');
}
.service:nth-child(5) .service__inner::before {
    background-image: url('../img/icons/service5.png');
}
.service:nth-child(6) .service__inner::before {
    background-image: url('../img/icons/service6.png');
}

/*=============== FOOTER ===============*/
.footer {
    margin-top: 150px;
    margin-bottom: 150px;
    height: 500px;
}

.footer__container {
    height: 100%;
    display: flex;
    column-gap: 50px;
    position: relative;
}

.title-hidden {
    display: none;
}

.footer__logo-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    box-shadow: 0px 4px 23px 0px var(--secondary-color);
    background-image: linear-gradient(
        130deg,
        rgba(255, 255, 255, 0.184) 1%,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}

/* contacts */
.contacts {
    position: absolute;
    left: calc(50%);
}

.contacts__item {
    margin-top: 20px;
    display: flex;
    font-size: 18px;
    color: var(--white-color);
}

.contacts__item i {
    color: var(--primary-color);
}

.contacts__item span {
    padding-top: 4px;
    display: inline-block;
    margin-left: 10px;
    font-family: 'Lato';
    text-align: right;
}

.contacts__text {
    margin: 20px 0;
    width: 80%;
    font-family: 'Poppins';
}

.contacts__btn-wrap {
    display: flex;
    margin-top: 20px;
}

.footer__copyright {
    display: block;
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
    color: var(--white-color);
}

/*=============== MEDIA QUERIES ===============*/
/* for large devices */
@media screen and (max-width: 1426px) {
    .container {
        padding: 0 30px;
    }
}

@media screen and (max-width: 1302px) {
    .container {
        padding: 0 30px;
    }

    .hero__desc {
        left: unset;
        right: 100px;
    }
}

@media screen and (max-width: 1200px) {
    .footer__container {
        width: 95%;
    }

    .footer__logo-wrap {
        width: 450px;
        height: 450px;
    }
}

/* for medium devices */
@media screen and (max-width: 1036px) {
    .services__list {
        margin-top: 82px;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 992px) {
    .hero__desc {
        text-align: center;
        top: 200px;
        left: 50%;
        right: unset;
        transform: translateX(-50%) !important;
    }

    .socials {
        justify-content: center;
    }

    .services__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .about__container {
        flex-direction: column-reverse;
    }

    .about__left {
        margin-top: 50px;
    }

    .about__image {
        display: block;
    }

    .footer {
        margin-bottom: 50px;
        height: auto;
    }

    .title-none {
        display: none;
    }
    .title-hidden {
        display: block;
    }

    .footer__container {
        flex-direction: column;
        row-gap: 40px;
        justify-content: center;
        align-items: center;
    }

    .footer__logo-wrap,
    .contacts {
        position: static;
        /* border: 1px solid red; */
    }
    
    .contacts {
        width: 500px;
    }

    .contacts__text {
        width: 100%;
    }

    .contacts__btn-wrap {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .contacts__btn {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 876px) {
    .header__logo-wrap {
        top: 10px;
        left: 20px;
    }

    .header__nav {
        display: none;
    }

    .header__menu-btn {
        display: block;
    }
}


/* for small devices */
@media screen and (max-width: 768px) {
    .title {
        font-size: 37px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 40px;
    }

    .menu__link {
        font-size: 16px;
        line-height: 10px;
    }

    .hero__desc {
        width: 90%;
    }

    .hero__title {
        font-size: 37px;
        line-height: 60px;
    }

    .hero__paragraph {
        font-size: 14px;
    }

    .socials__link {
        width: 30px;
        height: 30px;
        font-size: 17px;
    }

    .about__cards {
        margin-bottom: 0;
    }

    .about__left-btn {
        display: block;
    }

    .about__right-btn {
        display: none;
    }

    .projects__container {
        height: auto;
    }

    .projects__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .project {
        width: 100% !important;
        height: 300px !important;
    }

    .services__list {
        grid-template-columns: repeat(1, 1fr);
    }

    .service__inner {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .service__inner::before {
        margin-bottom: 10px;
        display: block;
        position: static;
    }

    .services__item {
        text-align: center;
    }
}

@media screen and (max-width: 583px) {
    .about__cards {
        display: none;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-right: 0;
        font-size: 14px;
        flex-basis: 33%;
        letter-spacing: 0px;
    }

    .card__icon {
        font-size: 30px;
    }

    .projects__list {
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 540px) {
    .projects__title {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer__logo-wrap,
    .contacts {
        width: 100%;
        height: auto;
    }

    .contacts__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 390px) {
    .title {
        font-size: 28px;
    }
}

/* =========================== PROJECTS PAGE =========================== */

.gallery-body {
    background-image: url('/assets/img/projects/project1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    backdrop-filter: blur(50px);
    transition: all 0.2s ease-in-out;
}

.gallery {
    height: 100vh;
}

.gallery__container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

.gallery__back {
    /* position: relative; */
    height: 100%;
}

.gallery__back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.gallery__back-btn:hover {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.gallery__wrap {
    width: 900px;
    height: 600px;
    overflow: hidden;
}

.gallery__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}

.gallery__item {
    min-width: 500px;
    min-height: 600px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.gallery__item:nth-child(1),
.buttons__item:nth-child(1) .button__btn {
    background-image: url('/assets/img/projects/project1.jpg');
}
.gallery__item:nth-child(2),
.buttons__item:nth-child(2) .button__btn {
    background-image: url('/assets/img/projects/project2.jpg');
}
.gallery__item:nth-child(3),
.buttons__item:nth-child(3) .button__btn {
    background-image: url('/assets/img/projects/project3.jpg');
}
.gallery__item:nth-child(4),
.buttons__item:nth-child(4) .button__btn {
    background-image: url('/assets/img/projects/project4.jpg');
}
.gallery__item:nth-child(5),
.buttons__item:nth-child(5) .button__btn {
    background-image: url('/assets/img/projects/project5.jpg');
}
.gallery__item:nth-child(6),
.buttons__item:nth-child(6) .button__btn {
    background-image: url('/assets/img/projects/project6.jpg');
}
.gallery__item:nth-child(7),
.buttons__item:nth-child(7) .button__btn {
    background-image: url('/assets/img/projects/project7.jpg');
}
.gallery__item:nth-child(8),
.buttons__item:nth-child(8) .button__btn {
    background-image: url('/assets/img/projects/project8.jpg');
}

.buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.button__btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:1px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all 0.1s ease-in-out;
}

.button__btn:hover {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 10px 3px #fff;
}

.gallery-active {
    border-color: var(--primary-color);
    box-shadow: 0px 0px 10px 3px #fff;
}

.bg-darken {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: -1;
}